<% provide :head_tags do %>
  <script>
      document.addEventListener("turbolinks:load", () => {initMap()});
  </script>
<% end %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">College Search</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= form_with(url: colleges_path, method: "get", local: false, class: 'd-flex') do %>
        <%= text_field_tag(:name, nil, placeholder: 'Enter college name...', class: 'form-control me-2') %>
        <%= submit_tag("Search", class: 'btn btn-outline-success') %>
      <% end %>
    </div>
  </div>
</nav>

<main>
  <h5 id="no-results" class="d-none py-2">No schools found by that name</h5>
  <div id="map"></div>
</main>

